# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache

# Logs
*.log*

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Source files (only include built files)
src/
pages/
components/
layouts/
middleware/
plugins/
server/
types/

# Development files
*.config.js
*.config.ts
tsconfig.json
.eslintrc.js
.gitignore
README.md